
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', sans-serif;
}
body {
  background-color: #121317;
  background-color: #f1f5f8;
}
a {
  color: #e0e0e0;
  color: gray;
  text-decoration: none;
}

h1{
  color: #ffffff;
  color: black;
  text-align:center;
  line-height: 1.5em;
}
.wrapper {
  position: absolute;
  width: 90vw;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.container {
  width: 20vw;
  height: 12vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;
  background-color: #2a2a2d;
  border-bottom: 5px solid #E9331F;
}
i {
  /* color: #E9331F; */
  font-size: 2.5em;
  text-align: center;
}

span.counter {
  color: #ffffff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}
span.text {
  color: #e0e0e0;
  font-size: 1.25em;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 600;
  line-height: 0;
}
@media screen and (max-width: 1024px) {
  .wrapper {
    width: 85vw;
  }
  .container {
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: 900vw;
    flex-wrap: wrap;
    gap: 30px;
  }
  .container {
    width: calc(50% - 40px);
    height: 30vmin;
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    gap: 15px;
  }
  .container {
    width: 100%;
    height: 25vmin;
    font-size: 8px;
  }
}